# dotfiles .gitingore

## default ignore
*

## repository files
!/README.md
!/LICENSE

## git
!/.gitignore
!/.gitignore_global
!/.gitconfig

## config
!/.config/

### keepassxc
!/.config/keepassxc/
!/.config/keepassxc/*

## snap
!/snap/

### spotify
!/snap/spotify/
!/snap/spotify/86/
!/snap/spotify/86/.config/
!/snap/spotify/86/.config/spotify/
!/snap/spotify/86/.config/spotify/Users/
!/snap/spotify/86/.config/spotify/Users/pakal167-user/
!/snap/spotify/86/.config/spotify/Users/pakal167-user/prefs

## mozilla firefox
!/.mozilla/

### extensions
!/.mozilla/extensions/{ec8030f7-c20a-464f-9b0e-13a3a9e97384}/

### settings / prefs
!/.mozilla/firefox/
!/.mozilla/firefox/installs.ini
!/.mozilla/firefox/profiles.ini

!/.mozilla/firefox/o1sj6a91.default-release/
!/.mozilla/firefox/o1sj6a91.default-release/prefs.js
!/.mozilla/firefox/o1sj6a91.default-release/extension-preferences.json
!/.mozilla/firefox/o1sj6a91.default-release/extensions.json


